{% extends "base.html" %}
{% block content %}

<h1 class="mb-4">Carga Masiva de RFCs (TXT)</h1>

<div class="card p-4 shadow-sm">
  <h2 class="h5 mb-3">Subir archivo TXT</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endwith %}

 
  <form method="POST" enctype="multipart/form-data">

  <div class="mb-3">
    <label class="form-label">Archivo TXT con RFCs</label>
    <input type="file" class="form-control" name="archivo" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre del archivo generado (sin extensión)</label>
    <input type="text" class="form-control" name="nombre_reporte" placeholder="reporte_rfc">
  </div>

  <div class="mb-3">
    <label class="form-label">Carpeta donde guardar</label>
    <input type="text" class="form-control" name="ruta_destino" placeholder="static/descargas">
  </div>

  <button type="submit" class="btn btn-primary">Procesar RFCs</button>
</form>

 
</div>

{% endblock %}
